.personalpic {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.logo {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.portfolio {
  height: 200px;
  width: 300px;
  object-fit: contain;
}

.link {
  color: black;
}

body {
  font-family: "Josefin Sans", sans-serif;
}
